h1
{
    color:blue;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body
{
    background-color: rgb(91, 146, 218);
}
h2.moda
´{
    text-align: center;
}
p
{
    color: rgb(14, 5, 48);

}

